

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Quiz</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<style> #autoria{color:orange}</style>
</head>
<body>
<br>
<div id="autoria">
<h1> PAGINA DEL AUTOR </h1>
<h1>Nombre: Francisco José Moreno Fenandez</h1>
</div>
<p>Nota: He tenido problemas con la insercion de la fotografia.<br>
Agradeceria cualquier orientacion sobre el problema</p>
<img src="foto.png" width="60" />
 <br><br><br>

</body>
</html>