<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
	<p> El Portal donde podra crear sus propios juegos </p>
	<p> <a href="/quizes/question"> Comience a jugar </a> </p>
	
	<p> <a href="/author/autor"> Sobre el autor </a> </p>
	
  </body>
</html>
